<h3><%= @user.username %>'s Deals:</h3>

<% if current_user.username == "igutwins" %>
<a href="/deals/new"><button type="button">Add Deal</button></a>
<% end %>


<% @scorecards = @user.scorecards %>
<% @completed_deals = Deal.all.find_all {|x| @scorecards.find{|i| i.deal_id == x.id} } %>
<% @deals_remaining = Deal.all - @completed_deals %>

<h4>Deals Requiring Evaluation:</h4>

<ol>
<% @deals_remaining.each do |x| %>
    <li><a href="/scorecard/new/<%=@user.username%>/<%=x.name%>"><%= x.name %><a></li>
<% end %>
</ol>

<h4>Previously Evaluated Deals:</h4>

<ol>
<% @completed_deals.each do |x| %>
    <li><a href="/scorecard/<%=@user.username%>/<%=x.name%>/edit"><%= x.name %><a></li>
<% end %>
</ol>
