<h3><%= @user.username %>'s Deals:</h3>

<% if current_user.username == "igutwins" %>
<a href="/deals/new"><button type="button">Add Deal</button></a>
<a href="/deals/remove"><button type="button">Remove Deal</button></a>
<% end %>


<% @scorecards = @user.scorecards %>
<% @completed_deals = Deal.all.find_all {|x| @scorecards.find{|i| i.deal_id == x.id} } %>
<% @deals_remaining = Deal.all - @completed_deals %>

<b><u><p>Deals Requiring Evaluation</p></u></b>
<% if @deals_remaining.empty? %>
<i><p>you have no deals left to evaluate</p></i>
<% else %>
<i><p>click to evaluate:</p></i>
<ol>
<% @deals_remaining.each do |x| %>
    <li><a href="/scorecard/<%=@user.username%>/<%=x.name%>/new"><%= x.name %><a></li>
<% end %>
<% end %>
</ol>
<br>
<b><u><p>Previously Evaluated Deals</p></u></b>
<i><p>click to view and/or edit:</p></i>

<ol>
<% @completed_deals.each do |x| %>
    <li><a href="/scorecard/<%=@user.username%>/<%=x.name%>"><%= x.name %><a></li>
<% end %>
</ol>
<br>
<br>

